asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.5
django-polymorphic==3.0.0
djangorestframework==3.12.2
idna==2.10
kafka-python==2.0.2
psycopg2-binary==2.8.6
pycryptodome==3.9.9
pytz==2020.5
rave-python==1.2.9
redis==3.5.3
requests==2.25.1
rope==0.18.0
sqlparse==0.4.1
urllib3==1.26.3
